/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
:root {
  --theme-color1: #063232;
  --theme-color1-rgb: 6, 50, 50;
  --theme-color1-lighter: #0c6464;
  --theme-color1-darker: black;
  --theme-color2: #051B05;
  --theme-color2-rgb: 5, 27, 5;
  --theme-color2-lighter: #0e4a0e;
  --theme-color2-darker: black;
  --theme-color3: #B4E717;
  --theme-color3-rgb: 180, 231, 23;
  --theme-color3-lighter: #c5ed49;
  --theme-color3-darker: #8cb412;
  --theme-color4: #00715D;
  --theme-color4-rgb: 0, 113, 93;
  --theme-color4-lighter: #00a98b;
  --theme-color4-darker: #00392f;
  --gradient-1: linear-gradient(to right, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.37) 100%);
  --gradient-2: linear-gradient(to left, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.7) 100%);
  --gradient-3: linear-gradient(-135deg, rgba(23, 23, 23, 0) 50%, var(--theme-color1) 100%);
  --theme-color1-text-color: #fff;
  --theme-color2-text-color: #fff;
  --theme-color3-text-color: #051b05;
  --theme-color4-text-color: #fff;
  --hover-theme-color: #063232;
  --footer-default-theme-color: var(--theme-color3);
  --footer-default-hover-theme-color: var(--theme-color3);
  --footer-default-text-color-on-bg-theme-color: var(--theme-color3-text-color);
}

/*
 * border: theme-color
 * -----------------------------------------------
*/
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid var(--theme-color1);
}

.hr-divider {
  border-top-color: rgba(6, 50, 50, 0.2) !important;
}

/* -------- Text Theme Color ---------- */
.text-theme-colored1 {
  color: var(--theme-color1) !important;
}

.text-theme-colored2 {
  color: var(--theme-color2) !important;
}

.text-theme-colored3 {
  color: var(--theme-color3) !important;
}

.text-theme-colored4 {
  color: var(--theme-color4) !important;
}

.bg-theme-colored1 {
  background-color: var(--theme-color1) !important;
}

.bg-theme-colored2 {
  background-color: var(--theme-color2) !important;
}

.bg-theme-colored3 {
  background-color: var(--theme-color3) !important;
}

.bg-theme-colored4 {
  background-color: var(--theme-color4) !important;
}

.border-theme-colored1 {
  border-color: var(--theme-color1) !important;
}

.border-theme-colored2 {
  border-color: var(--theme-color2) !important;
}

.border-theme-colored3 {
  border-color: var(--theme-color3) !important;
}

.border-theme-colored4 {
  border-color: var(--theme-color4) !important;
}

/*
 * blog-single.scss
 * -----------------------------------------------
*/
/*
 * Shortcode: blog.scss
 * -----------------------------------------------
*/
.tm-sc-blog.blog-classic article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-content .post-btn-readmore {
  border-color: var(--theme-color1);
  background-color: #fff;
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore {
  background-color: var(--theme-color1);
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore .btn-plain-text-with-arrow:after {
  color: #fff;
}
.tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+1) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+3) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+6) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+8) article .post-thumb .post-thumb-inner .thumb:after {
  background-color: rgba(6, 50, 50, 0.94);
}

/*
 * Shortcode: buttons.scss
 * -----------------------------------------------
*/
.btn-theme-colored1 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #063232;
  --bs-btn-border-color: #063232;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #052b2b;
  --bs-btn-hover-border-color: #052828;
  --bs-btn-focus-shadow-rgb: 43, 81, 81;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #052828;
  --bs-btn-active-border-color: #052626;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #063232;
  --bs-btn-disabled-border-color: #063232;
}

.btn-theme-colored2 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #051B05;
  --bs-btn-border-color: #051B05;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #041704;
  --bs-btn-hover-border-color: #041604;
  --bs-btn-focus-shadow-rgb: 43, 61, 43;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #041604;
  --bs-btn-active-border-color: #041404;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #051B05;
  --bs-btn-disabled-border-color: #051B05;
}

.btn-theme-colored3 {
  --bs-btn-color: #000;
  --bs-btn-bg: #B4E717;
  --bs-btn-border-color: #B4E717;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #bfeb3a;
  --bs-btn-hover-border-color: #bce92e;
  --bs-btn-focus-shadow-rgb: 153, 196, 20;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c3ec45;
  --bs-btn-active-border-color: #bce92e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #B4E717;
  --bs-btn-disabled-border-color: #B4E717;
}

.btn-theme-colored4 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00715D;
  --bs-btn-border-color: #00715D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00604f;
  --bs-btn-hover-border-color: #005a4a;
  --bs-btn-focus-shadow-rgb: 38, 134, 117;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005a4a;
  --bs-btn-active-border-color: #005546;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00715D;
  --bs-btn-disabled-border-color: #00715D;
}

.btn-outline-theme-colored1 {
  --bs-btn-color: #063232;
  --bs-btn-border-color: #063232;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #063232;
  --bs-btn-hover-border-color: #063232;
  --bs-btn-focus-shadow-rgb: 6, 50, 50;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #063232;
  --bs-btn-active-border-color: #063232;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #063232;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #063232;
  --bs-gradient: none;
}

.btn-outline-theme-colored2 {
  --bs-btn-color: #051B05;
  --bs-btn-border-color: #051B05;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #051B05;
  --bs-btn-hover-border-color: #051B05;
  --bs-btn-focus-shadow-rgb: 5, 27, 5;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #051B05;
  --bs-btn-active-border-color: #051B05;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #051B05;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #051B05;
  --bs-gradient: none;
}

.btn-outline-theme-colored3 {
  --bs-btn-color: #B4E717;
  --bs-btn-border-color: #B4E717;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #B4E717;
  --bs-btn-hover-border-color: #B4E717;
  --bs-btn-focus-shadow-rgb: 180, 231, 23;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #B4E717;
  --bs-btn-active-border-color: #B4E717;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #B4E717;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #B4E717;
  --bs-gradient: none;
}

.btn-outline-theme-colored4 {
  --bs-btn-color: #00715D;
  --bs-btn-border-color: #00715D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00715D;
  --bs-btn-hover-border-color: #00715D;
  --bs-btn-focus-shadow-rgb: 0, 113, 93;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00715D;
  --bs-btn-active-border-color: #00715D;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #00715D;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00715D;
  --bs-gradient: none;
}

.btn-theme-colored1 {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:hover, .btn-theme-colored1:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:before {
  background-color: var(--theme-color2);
}

.btn-theme-colored2 {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:hover, .btn-theme-colored2:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:before {
  background-color: var(--theme-color1);
}

.btn-theme-colored3 {
  color: var(--theme-color3-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-theme-colored3:hover, .btn-theme-colored3:focus {
  color: var(--theme-color3-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}

.btn-theme-colored4 {
  color: var(--theme-color4-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}
.btn-theme-colored4:hover, .btn-theme-colored4:focus {
  color: var(--theme-color4-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}

.btn-theme-colored3:before,
.btn-theme-colored4:before,
.btn-outline-theme-colored3:before,
.btn-outline-theme-colored3:before {
  background: var(--theme-color1);
}

.btn-outline-theme-colored1 {
  color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-outline-theme-colored1:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored2 {
  color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-outline-theme-colored2:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored3 {
  color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-outline-theme-colored3:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

input[type=submit].btn-theme-colored1:hover, input[type=submit].btn-theme-colored1:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
}

input[type=submit].btn-theme-colored2:hover, input[type=submit].btn-theme-colored2:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored3:hover, input[type=submit].btn-theme-colored3:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored4:hover, input[type=submit].btn-theme-colored4:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

.btn-light:before,
.btn-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-light:hover, .btn-light:focus,
.btn-dark:hover,
.btn-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-light:hover:before, .btn-light:focus:before,
.btn-dark:hover:before,
.btn-dark:focus:before {
  background-color: var(--theme-color2);
}

.btn-outline-light {
  color: #fff;
}

.btn-outline-light:hover,
.btn-outline-dark:hover {
  background-color: transparent;
}
.btn-outline-light:before,
.btn-outline-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-outline-light:hover, .btn-outline-light:focus,
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-outline-light:hover:before, .btn-outline-light:focus:before,
.btn-outline-dark:hover:before,
.btn-outline-dark:focus:before {
  background-color: var(--theme-color2);
}

/*
 * shop.scss
 * -----------------------------------------------
*/
/*
 * shop-common
 * -----------------------------------------------
*/
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]),
.woosc_table .button,
.woosc_table .added_to_cart,
.woosw-item .added_to_cart {
  --bs-btn-color: #fff;
  --bs-btn-bg: #063232;
  --bs-btn-border-color: #063232;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #052b2b;
  --bs-btn-hover-border-color: #052828;
  --bs-btn-focus-shadow-rgb: 43, 81, 81;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #052828;
  --bs-btn-active-border-color: #052626;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #063232;
  --bs-btn-disabled-border-color: #063232;
  color: var(--theme-color1-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):hover,
.woosc_table .button:hover,
.woosc_table .added_to_cart:hover,
.woosw-item .added_to_cart:hover {
  color: var(--theme-color3-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):focus,
.woosc_table .button:focus,
.woosc_table .added_to_cart:focus,
.woosw-item .added_to_cart:focus {
  color: var(--theme-color3-text-color);
  box-shadow: none;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled,
.woosc_table .button:disabled,
.woosc_table .button.disabled,
.woosc_table .added_to_cart:disabled,
.woosc_table .added_to_cart.disabled,
.woosw-item .added_to_cart:disabled,
.woosw-item .added_to_cart.disabled {
  color: var(--theme-color1-text-color);
  opacity: 0.5;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled:hover, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled:hover,
.woosc_table .button:disabled:hover,
.woosc_table .button.disabled:hover,
.woosc_table .added_to_cart:disabled:hover,
.woosc_table .added_to_cart.disabled:hover,
.woosw-item .added_to_cart:disabled:hover,
.woosw-item .added_to_cart.disabled:hover {
  color: var(--theme-color3-text-color);
}

/*
 *  common.scss
 * -----------------------------------------------
*/
.scroll-to-top a {
  background-image: linear-gradient(to right, #063232 0%, #0d6f6f 51%, #063232 100%);
}
.scroll-to-top a:hover {
  box-shadow: 0 10px 20px rgba(6, 50, 50, 0.5);
  background-position: right center;
}